name: Docker Build & Push

on:
  push:
    branches: [ "main" ]
    # O workflow SÓ roda se os arquivos modificados NÃO estiverem nesta lista
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - '.gitignore'
      - 'LICENSE'
      - '.github/**'
      - 'docker-compose.yml'

env:
  IMAGE_NAME: mail-burner

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Necessário para enviar para o ghcr.io

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Login no GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build e Push da Imagem
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Gera duas tags: 'latest' e uma com o hash do commit (para versionamento)
          tags: |
            ghcr.io/robertocjunior/mail-burner:latest
            ghcr.io/robertocjunior/mail-burner:${{ github.sha }}